# macOS
.DS_Store

# Quarto
/.quarto/
**/*_cache/
**/_site/
**/*_files/

# Local Quarto configuration
/_*.local

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Python environments
.venv/
.condaenv/
env/

# Pixi environment
.pixi/